[submodule "arisen-wasm-spec-tests"]
	path = arisen-wasm-spec-tests
	url = https://github.com/ArisenIO/arisen-wasm-spec-tests.git
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/ArisenIO/appbase.git
	branch = 1.0.0v1
[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/ArisenIO/chainbase.git
	branch = 1.0.0v1
[submodule "libraries/rsn-vm"]
	path = libraries/rsn-vm
	url = https://github.com/ArisenIO/rsn-vm.git
	branch = master
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/ArisenIO/berkeley-softfloat-3.git
	branch = 1.0.0v1
[submodule "libraries/wabt"]
	path = libraries/wabt
	url = https://github.com/ArisenIO/wabt.git
[submodule "libraries/yubihsm"]
	path = libraries/yubihsm
	url = https://github.com/ArisenIO/yubihsm-shell.git
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/ArisenIO/fc.git
	branch = 1.0.0v2

